.chatbot-container {
  max-width: 800px;
  margin: auto;
  /* height: 100vh;  */
  max-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
}

.chat-window {
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 100%;
  /* padding: 10px; */
  max-width: 100%;
  height: 95vh;
  overflow-y: auto;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #1e59b3;
  color: white;
  margin-bottom: 10px;
  padding: 15px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.menu-dropdown {
  border: 1px solid #ccc;
  border-radius: 6px;
  position: absolute;
  top: 48px;
  right: 10px;
  background: white;
  color: #353535;
  box-shadow: 0 0 5px #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
}

.chat-bubble.bot {
  background-color: #ffffff;
  color: black;
  align-self: flex-start;
  padding-top: 1px;
  margin: 5px;
}

/* .chat-bubble.bot .options-wrap {
  margin-top: 10px;
}

.chat-bubble.bot:first-of-type .options-wrap {
  margin-top: 20px !important;
}
 */


.chat-bubble {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 90%;
  padding: 10px 14px;
  border-radius: 12px;
  font-size: 15px;
  margin: 5px 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chat-bubble.user {
  background-color: #e0e0e0;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
  padding-top: 1px;
}

.input-area {
  display: flex;
  padding: 10px;
  background-color: white;
  border-top: 1px solid #ccc;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input-area button {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  background-color: #1e59b3;
  color: white;
  cursor: pointer;
}

.quick-replies {
  margin-bottom: 10px;
}

.quick-replies button {
  margin: 4px;
  padding: 6px 10px;
  background-color: #1e59b3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.typing-dots {
  display: inline-block;
  font-size: 30px;
  animation: blink 1.2s infinite;
}

.typing-dots span {
  animation: bounce 1s infinite;
  display: inline-block;
  margin: 0 2px;
  font-weight: bold;
  color: #999;
}

.typing-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  40% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.options-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 10px;
  margin-top: 8px;
}

.option-button {
  background-color: #353535;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

p{
   display: block;
    margin-block-start: 5px;
    margin-block-end: 5px;
}
  
.option-button:hover {
  background-color: #1e59b3;
}

.chat-time {
  font-size: 0.7rem;
  color: gray;
  text-align: right;
  /* margin-top: 1px;
  align-self: flex-end;
  white-space: nowrap; */
}

.msg-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 10px;
}

/* .msg-flex {
  position: relative;
  display: inline-block;
  width: 100%;
} */

/* .chat-time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.7rem;
  color: gray;
  padding-right: 5px;
} */

.markdown-text {
  word-break: break-word;
  overflow-wrap: anywhere;
}

@media screen and (max-width: 600px) {
  .chat-bubble {
    max-width: 90%;
  }
}

@media (max-width: 800px) {
  .chatbot-container {
    width: 100% !important;
    max-height: 100vh !important;
    padding: 0;
  }

  .chat-window {
    border-radius: 0 !important;
    width: 100%;
    max-width: 100%;
    height: 90vh;
    /* top: -1.4rem; */
  }

  .chat-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

    .chat-bubble {
    max-width: 70%;
    font-size: 14px;
  }
}